:root {
  --primary-color: #002e74;
  --accent-color: #1d6dec;
  --grey-color: #4f4f53;
  --black-color: #000;
  --white-color: #fff;
  --background-color: #f5f5f5;
  --background-second-color: #e5e5e5;
  font-family: 'DM Sans', Arial, sans-serif;
  font-size: 16px;
}

/* HEADER SECTION */
.hero-section {
  background: var(--background-color)
    url(./images/places-to-visit-in-bulgaria.jpg);
  width: 1400px;
  height: 772px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 16px;
}

.header-navigation-section,
.logo-navigation-container,
.main-menu-items {
  display: flex;
  align-items: center;
}

.header-navigation-section {
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 140px;
  padding-top: 20px;
}

.logo-navigation-container {
  align-items: center;
}

.logo-navigation-container,
.main-menu-items {
  gap: 48px;
}

.logo-sirma {
  width: 177.49px;
  padding-left: 170px;
}

.main-menu-items a,
.login-button,
.register-button a,
.banner-button a {
  text-decoration: none;
  color: var(--white-color);
}

.navigation-action-section {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 196px;
  padding-right: 92px;
}

.register-button,
.banner-button {
  padding: 12px 20px;
  border-radius: 40px;
  background-color: var(--black-color);
}

.banner-content-section {
  width: 608px;
  margin: 0 auto;
  margin-bottom: 140px;
  text-align: center;
}

.banner-text-container {
  margin-bottom: 40px;
}

.banner-text-container,
.banner-button a {
  color: var(--white-color);
}

.big-text-banner {
  font-size: 68px;
  margin-bottom: 24px;
}

.statistic-section {
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: var(--white-color);
}

.numbers {
  font-size: 28px;
  margin-bottom: 4px;
}

.numbers-info-text {
  font-size: 18px;
}
