:root {
  --primary-color: #002e74;
  --accent-color: #1d6dec;
  --grey-color: #4f4f53;
  --black-color: #000;
  --white-color: #fff;
  --background-color: #f5f5f5;
  --background-second-color: #e5e5e5;
  font-family: 'DM Sans', Arial, sans-serif;
}

/* HEADER SECTION */
/* big banner */
.hero-section {
  background: var(--background-color)
    url(./images/places-to-visit-in-bulgaria.jpg);
  width: 1400px;
  height: 772px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 16px;
}

/* header navigation and logo */
.header-navigation-section,
.logo-navigation-container,
.main-menu-items {
  display: flex;
  align-items: center;
}

.logo-navigation-container {
  width: 1020px;
  justify-content: space-around;
  /* padding-left: 170.75px;
  padding-right: 170.75px; */
}

/* logo */
.logo-sirma {
  width: 177.49px;
}
